.el{

    width: 100% !important;

    height: 100% !important;

    top: 0 !important;

    position: absolute !important;

    display: flex !important;

    align-items: center !important;

    justify-content: center !important;

    .imageContainer{

        position: relative !important;

        width: 25vw !important;

        height: 25vh !important;

        img{

            object-fit: cover !important;

        }

    }

    &:nth-of-type(2){

        .imageContainer{

            top: -30vh !important;

            left: 5vw !important;

            width: 35vw !important;

            height: 30vh !important;

        }

    }

    &:nth-of-type(3){

        .imageContainer{

            top: -10vh !important;

            left: -25vw !important;

            width: 20vw !important;

            height: 45vh !important;

        }

    }

    &:nth-of-type(4){

        .imageContainer{

            left: 27.5vw !important;

            width: 25vw !important;

            height: 25vh !important;

        }

    }

    &:nth-of-type(5){

        .imageContainer{

            top: 27.5vh !important;

            left: 5vw !important;

            width: 20vw !important;

            height: 25vh !important;

        }

    }

    &:nth-of-type(6){

        .imageContainer{

            top: 27.5vh !important;

            left: -22.5vw !important;

            width: 30vw !important;

            height: 25vh !important;

        }

    }

    &:nth-of-type(7){

        .imageContainer{

            top: 22.5vh !important;

            left: 25vw !important;

            width: 15vw !important;

            height: 15vh !important;

        }

    }

}

.container{

    height: 300vh !important;
    position: relative !important;

    .sticky{

        position: sticky !important;

        overflow: hidden !important;

        top: 0 !important;

        height: 100vh !important;

        .el{

            width: 100% !important;

            height: 100% !important;

            top: 0 !important;

            position: absolute !important;

            display: flex !important;

            align-items: center !important;

            justify-content: center !important;

            .imageContainer{

                position: relative !important;

                width: 25vw !important;

                height: 25vh !important;

                img{

                    object-fit: cover !important;

                }

            }

        }

    }

}